{% extends "base.html" %}
{% block content %}
<html>
  
<div id="" class="tabcontent">
  <h3>Location</h3>
  <p>Included are the coordinates </p>
</div>  
  
<div id="" class="tabcontent">
  <h3>Fauna</h3>
  <p>These are fauna typically encountered in the area, encounter rates depend on a number of factors from migratory patterns, abundance of food, or the presence of other wildlife.</p>
</div>

<div id="" class="tabcontent">
  <h3>Flora</h3>
  <p>The following are an assortment of flora endemic to the region, share a sighting if you manage to spot anything that catches your eye!</p>
</div>

<div id="" class="tabcontent">
  <h3>Features</h3>
  <p>Here are the features present in at the selected location, these include unique landmarks and </p>
</div>
  
</html>
{% endblock %}