<html lang="en">
    <header>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Search</title>

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <!-- Capstone -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        <!-- JavaScript -->
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <!-- Capstone -->
  <style>
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #228B22;
    color: #FFF;
    padding: 1% 0;
    font-size: 2em;
    border: 0;
    border-bottom: solid 1em #556B2F;
  }
  .navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
  }
  .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .acgtive a:focus, .navbar-inverse .navbar-nav .active:hover
  {
    color: #FFF;
    background-color: #5E4485;
  }
    .navbar-inverse .navbar-nav li a
  {
    color: #d5d5d5
  }
  </style>
    </header>

<body class="masthead">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data toggle="collapse" data-target="#myNavBar">
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
    <a class="navbar-brand" href="#"><img id="pagetop" src="{{ url_for('static', filename='imgs/logo.jpg') }}">
        </div>
    <div class="collapse navbar-collapse" id="myNavBar">
      <ul class="nav navbar-nav navbar-center">
        <li id="nSearch"><a href="/authorized/user/content/search">Search</a></li>
        <li id="nChecklist"><a href="/authorized/user/content/checklist">Checklist</a></li>
        <li id="nGuide"><a href="/authorized/user/content/guide">Guide</a></li>
        <li id="nSighting"><a href="/authorized/user/content/sighting">Sighting</a></li>
        <li id="nLogin"><a href="/login">Log In</a></li>
        <li id="nSignup"><a href="/registration">Sign Up</a></li>
        {% if current_user.is_authenticated %}
          <li id="nLogout"><a href="/logout">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

{% import "macros.html" as macros %}
{% block content %}
{{ macros.render_feature_unid(feature_unid) }}
{% endblock %}

</body>

<footer class="pagefooter">
  <div align="center">
    <ul>
      <dt><a href="#pagetop" class="cd-top js-cd-top">Back to top</a></dt>
    </ul>
  </div>
</footer>
