{% macro render_locentry(entry) %}
<div class="row">
    <div class="col-md-6 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
                <a href = "{{ url_for ('view_location', id=entry.id)}}"> {{ entry.name }}
            </li>
        </ul>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_fauentry(entry) %}
<div class="row">
    <div class="col-md-6 text-right metadata">
        <div>
        <ul class="list-unstyled">
                <a href = "{{ url_for ('view_fauna', id=entry.id)}}"> {{ entry.name }}
            </li>
        </ul>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_floentry(entry) %}
<div class="row">
    <div class="col-md-6 text-right metadata">
        <div>
        <ul class="list-unstyled">
                <a href = "{{ url_for ('view_flora', id=entry.id)}}"> {{ entry.name }}
            </li>
        </ul>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_feaentry(entry) %}
<div class="row">
    <div class="col-md-6 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
                <a href = "{{ url_for ('view_feature', id=entry.id)}}"> {{ entry.name }}
            </li>
        </ul>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_location(location) %}
<div class="row">
    <div class="col-md-3 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
                Name: {{ location.name}}
            </li>
        </ul>
        <p>
            <a href = "{{ url_for ('information', id=location.id)}}"></a>
        </p>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_location_unid(location_unid) %}
<div class="row">
    <div class="col-md-3 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
                Name: {{ location.name}}
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>
                Latitude: {{ location.latitude}}
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>
                Longitude: {{ location.longitude}}
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>
                Region: {{ location.region}}
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>
                Visitors (2017): {{ location.visitors}}
            </li>
        </ul>
        <p>
            <a href = "{{ url_for ('information', id=location.id)}}"></a>
        </p>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_fauna(fauna) %}
<div class="row">
    <div class="col-md-3 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
                Name: {{ fauna.name }}
            </li>
        </ul>
        <p>
            <a href = "{{ url_for ('information', id=fauna.id)}}"></a>
        </p>
        </div>
    </div>
</div>    
{% endmacro %}

{% macro render_fauna_unid(fauna_unid) %}
<div class="row">
    <div class="col-md-3 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
                Name: {{ fauna_unid.name }}
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>
                Description: {{ fauna_unid.characteristics }}
            </li>
        </ul>
        <p>
            <a href = "{{ url_for ('view_fauna', id=fauna.id)}}"></a>
        </p>
        </div>
    </div>
</div>    
{% endmacro %}

{% macro render_flora(flora) %}
<div class="row">
    <div class="col-md-3 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
                Name: {{ flora.name }}
            </li>
        </ul>
        <p>
            <a href = "{{ url_for ('view_flora', id=flora.id)}}"></a>
        </p>
        </div>
    </div>
</div>    
{% endmacro %}

{% macro render_flora_unid(fauna_unid) %}
<div class="row">
    <div class="col-md-3 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
                Name: {{ flora.name}}
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>
                Description: {{ flora.characteristics }}
            </li>
        </ul>
        <p>
            <a href = "{{ url_for ('view_feature', id=flora.id)}}"></a>
        </p>
        </div>
    </div>
</div>    
{% endmacro %}

{% macro render_feature(feature) %}
<div class="row">
    <div class="col-md-3 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
                Name: {{ feature.name }}
            </li>
        </ul>
        <p>
            <a href = "{{ url_for ('information', id=feature.id)}}"></a>
        </p>
        </div>
    </div>
</div>    
{% endmacro %}    

{% macro render_feature_unid(feature_unid) %}
<div class="row">
    <div class="col-md-3 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
                Name: {{ feature.name }}
            </li>
        </ul>
        <ul class="list-unstyled">
            <li>
                Description: {{ feature.characteristics }}
            </li>
        </ul>
        <p>
            <a href = "{{ url_for ('information', id=feature.id)}}"></a>
        </p>
        </div>
    </div>
</div>    
{% endmacro %}  

{% macro render_sighting() %}
<div class="row">
    <div class="col-md-6 text-right metadata">
        <div>
        <ul class="list-unstyled">
            <li>
            </li>
        </ul>
        </div>
    </div>
</div>
{% endmacro %}
