<html lang="en">
    <header>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Search</title>

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Capstone -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- JavaScript -->
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <!-- Capstone -->
        <script src="stylesheet" href="{{ url_for('static', filename='js/main.js') }}"></script>
  <style>
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5E4485;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
  
  }
  .navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
  }
  .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .acgtive a:focus, .navbar-inverse .navbar-nav .active:hover
  {
    color: #FFF;
    background-color: #5E4485;
  }
    .navbar-inverse .navbar-nav li a
  {
    color: #d5d5d5
  }

  </style>
    </header>

  <body>
    <body class="masthead">
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data toggle="collapse" data-target="#myNavBar">
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="#"><img src="img">
    </div>
    
    <div class="collapse navbar-collapse" id="myNavBar">
      <ul class="nav navbar-nav navbar-center">
        <li id="nSearch" class=active><a href="/authorized/user/content/search">Search</a></li>
        <li id="nChecklist"><a href="/authorized/user/content/checklist">Checklist</a></li>
        <li id="nGuide"><a href="/authorized/user/content/guide">Guide</a></li>
        <li id="nSighting"><a href="/authorized/user/content/sighting">Sighting</a></li>
        <li id="nLogin"><a href="/login">Log In</a></li>
        <li id="nSignup"><a href="/registration">Sign Up</a></li>
      </ul>
    </div>
    </nav><!-- end of navbar group, copy this to other html files -->

  <br></br>

  <div class="header">
    <h1>Search</h1>
  </div>

  <div class="container">
    <form class="form-inline" id="searchform"><!-- entire form -->
	
	<div class="form-group">
	  <input type="text" class="form-control"
		 id="searchq"
		 name="searchq"
		 placeholder="Enter name...">
	</div><!-- first form-group -->
    
    <!-- this functions in the same vein as self' in Python -->  
	<div class="form-group">
	  <select class="form-control"
		  id="categoryq"
		  onchange="update_action(this);"
		  >
	    <option>All</option>
	    <option>Location</option>
	    <option>Fauna</option>
	    <option>Flora</option>
	    <option>Feature</option>
	  </select>
	</div><!--end second form-group -->
	<button type="submit" class="btn btn-primary">Search</button>
    </form><!-- end of entire form -->

  </div><!-- end of container -->
  
    <script>
      list_of_actions = [
         "/authorized/user/content/search/all/",
         "/authorized/user/content/search/location/",
         "/authorized/user/content/search/fauna/",
         "/authorized/user/content/search/flora/",
         "/authorized/user/content/search/feature/",
      ];

      function update_action(selector) {
          console.log(selector[selector.selectedIndex]);
          sform = document.getElementById('searchform');
          sform.setAttribute('action',
                list_of_actions[selector.selectedIndex]);
      }
    </script>
    </body>
  </body>

    {% for entry in entries %}
    {{ entry.name }}
    {% endfor %}

  <nav aria-label="...">
      <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
      </ul>
  </nav>
  
<ul>
  <dt><a href="/authorized/user/content/search" class="cd-top js-cd-top">Back to top</a></dt>
</ul>

</body>

<footer class="pagefooter">
</footer>

</html>