{% extends "base.html" %}
{% block content %}
<h1>
    Add Sighting
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Type of Sighting</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="What did you see?" required>
    </div>
    <div class="form-group">
        <label for="content">Describe Sighting</label>
        <textarea class="form-control" id="content" name="content" placeholder="Description of sighting..." rows="20" required></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}